body{
	background-color: rgb(31, 30, 30);
	color: rgb(255, 255, 255);
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
	font-size: 20px;
}

/*Landing Page*/
header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}



#title{
	flex-direction: column;
	line-height: 10px;
}

li{
	display: inline-block;
	margin: 20px;
}

a{
	color: rgb(255, 255, 255);
}

a:hover{
	color: rgb(78, 85, 85);
	transition: 1ms;
}

.titulo{
	font-size: 50px;
	font-weight: 400;
	color: aliceblue;
}

main{
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}

img{
	width: 50%;
}

p{
	line-height: 20px;
	max-width: 500px;
}

form{
	margin-top: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
}

input{
	background-color: rgb(37, 41, 41);
	margin-top: 2em;
	height: 20px;
	padding: 30px;
	border: none;
	border-radius: 20px;
}

.botao-entrar{
	padding: 30px;
	background-color: rgb(37, 41, 41);
	color: rgb(255, 255, 255);
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.botao-entrar:hover{
	background-color: rgb(53, 56, 56);
	transition: 1s;
}

